{% extends 'reviewme/layout.html' %} {% block body %}
<h1>Welcome To Review Me</h1>

<!-- <form method="post" action="{% url 'like_answer' %}">
  {% csrf_token %}
  <div class="form-group">
    <label for="item_id">Item</label>
    <input
      type="text"
      class="form-control"
      name="answer_id"
      placeholder="Enter item ID"
      
    />
  </div>
  <div class="form-group">
    <label for="item">Item</label>
    <input
      type="text"
      class="form-control"
      name="answer_text"
      placeholder="Enter item name"
    />
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea
      class="form-control"
      name="review_description"
      rows="3"
      placeholder="Enter item description"
    ></textarea>
  </div>
  <div class="form-group">
    <label for="tags">Tags</label>
    <input
      type="text"
      class="form-control"
      name="tags"
      placeholder="Enter item tags (comma separated)"
    />
  </div>
  <div class="form-group">
    <label for="tags">Tags</label>
    <input
      type="text"
      class="form-control"
      name="tags"
      placeholder="Enter item tags (comma separated)"
    />
  </div>
  <div class="form-group">
    <label for="links">Links</label>
    <input
      type="text"
      class="form-control"
      name="links"
      placeholder="Enter item links (comma separated)"
    />
  </div>
  <div class="form-group">
    <label for="image">Image URL</label>
    <input
      type="text"
      class="form-control"
      name="media"
      placeholder="Enter item image URL"
    />
  </div>
    <div class="form-group">
        <label for="item_type">rating</label>
        <input
            type="number"
            class="form-control"
            name="rating"
            placeholder="Enter item type">
        </select>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> -->

<input type="text" class="form-control" name="id" placeholder="Enter ID" />
<input type="text" class="form-control" name="title" placeholder="title" />
<input
  type="text"
  class="form-control"
  name="description"
  placeholder="description"
/>
<button type="submit" class="btn btn-primary" id="do">Do action</button>

<script>
  document.getElementById("do").addEventListener("click", function () {
    const id = document.querySelector('input[name="id"]').value;
    const title = document.querySelector('input[name="title"]').value;
    const description = document.querySelector(
      'input[name="description"]'
    ).value;
    console.log(id);
    fetch("{% url 'edit_item' %}", {
      method: "PUT",
      headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": "{{ csrf_token }}",
      },
      body: JSON.stringify({
        item_id: id,
        name: title,
        description: description,
      }),
    }).then((response) => {
      if (!response.ok) {
        return response.json().then((error) => {
          console.error("Error:", error);
        });
      }
      return response.json().then((data) => {
        console.log("Success:", data);
      });
    });
  });
</script>

{% endblock %}
