.reviews-list-skeleton {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.reviews-list {
  width: 400px;
}

.item-reviews-list {
  width: 400px;
}

@media (max-width: 500px) {
  .reviews-list {
    max-width: 350px;
  }
}
